.item {
    display: grid;
    gap: 0;
  
    .img {
      width: 100%;
      background-size: cover;
      background-position: center;
  
      aspect-ratio: calc(163/213);
  
      @media only screen and (max-width: 768px) {
        aspect-ratio: auto;
  
        height: 463px;
      }
  
      @media only screen and (max-width: 425px) {
        height: 213px;
      }
    }
  
    .heading {
      background: var(--green);
      font-family: Pacifico;
      font-size: 40px;
      font-weight: 400;
      line-height: 70px;
      letter-spacing: 0em;
      text-align: center;
      color: white;
      padding: 16px 0 23px;
  
      margin-top: -109px;
  
      @media only screen and (max-width: 1024px) {
        padding: 8px 0 10px;
  
        font-size: 30px;
        line-height: 52.5px;
        margin-top: -68.5px;
      }
  
      @media only screen and (max-width: 768px) {
        font-size: 20px;
        line-height: 35px;
        letter-spacing: 0em;
        padding: 2px 0 2px;
  
        margin-top: -42px;
      }
    }
  }